<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    <configuration>
 		<typeAliases>
 			<typeAlias type="team.project.est.dto.UserVO" alias="user"/>
 			<typeAlias type="team.project.est.dto.WorkVO" alias="work"/>
 			<typeAlias type="team.project.est.dto.TodoVO" alias="todo"/>
 			<typeAlias type="team.project.est.dto.YearAchiveVO" alias="achive"/>
 			<typeAlias type="team.project.est.dto.ProfileImageVO" alias="pImage"/>
 		</typeAliases>
    </configuration>
