<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="team.project.est.repository.UserMapper">
	    <select id="login" parameterType="user" resultType="user">
	    	select 
	    		user_seq,
	    		user_id,
	    		user_pw,
	    		user_first_name,
	    		user_last_name,
	    		user_nick,
	    		user_age,
	    		user_gender,
	    		user_email,
	    		user_active
	    	from
	    		user
	    	where
	    		user_id = #{user_id}
	    	<if test="user_pw != null">
		    	and
		    	user_pw = #{user_pw}
	    	</if>
	    </select>
	    <insert id="signup" parameterType="user">
	    	insert into
	    		user(
		    		user_seq,
		    		user_id,
		    		user_pw,
		    		user_first_name,
		    		user_last_name,
		    		user_nick,
		    		user_age,
		    		user_gender,
		    		user_email,
		    		user_active
	    		)
	    	values(
	    		#{user_seq},
	    		#{user_id},
	    		#{user_pw},
	    		#{user_first_name},
	    		#{user_last_name},
	    		#{user_nick},
	    		#{user_age},
	    		#{user_gender},
	    		#{user_email},
	    		#{user_active}
	    	)
	    </insert>
	    <update id="updateUser" parameterType="user">
	    	update
	    		user
	    	set 
	    		user_active = true
	    	<if test="user_pw != null">
		    	, user_pw = #{user_pw}
	    	</if>
	    	<if test="user_first_name != null">
		    	, user_first_name = #{user_first_name}
	    	</if>
	    	<if test="user_last_name != null">
		    	, user_last_name = #{user_last_name}
	    	</if>
	    	<if test="user_nick != null">
		    	, user_nick = #{user_nick}
	    	</if>
	    	<if test="user_gender != null">
		    	, user_gender = #{user_gender}
	    	</if>
	    	<if test="user_email != null">
		    	, user_email = #{user_email}
	    	</if>
	    	where
	    		user_id = #{user_id}
	    </update>
	</mapper>
